
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	overflow-x: hidden;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.row { display: block; }
.tm-left-right-container { width: 100%; }

.tm-blue-bg {
	background-color: #1b293d;
	color: #8b8c8f;
}
html {
  scroll-behavior: smooth;
}
.tm-blue-text {	color: #1b293d; }
.tm-blue-bg a {	color: #8b8c8f; }

.tm-site-name {
	font-size: 4rem;
	margin-top: 20px;
}

.tm-logo-div { 

	padding-top: 10px; 
	padding-bottom: 40px;
}

.tm-main-nav { display: none; }

.tm-main-nav-ul {
	display: inline-block;
	padding-left: 0;
}

.tm-section { margin-bottom: 60px; }
.tm-welcome-title {	font-size: 2.4rem; }
.tm-section-title {	font-size: 2.2rem; }
.tm-content-div { padding: 40px; }
.tm-margin-b-45 { margin-bottom: 45px; }
.tm-margin-b-30 { margin-bottom: 30px; }
p { line-height: 2; }

#more{display: none;}

.tm-button {
	background-color: #1b293d;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;	
	padding: 18px 35px;
}



.tm-button:hover,
.tm-button:active,
.tm-button:focus {
	background-color: #0064f2;
	color: white;
}

.tm-nav-item:hover a,
.tm-nav-item:active a,
.tm-nav-item:focus a,
.tm-nav-item-link.active {
	color: white;
}

.tm-about-img-container { margin-top: 0; }



.tm-contact-right { margin-top: 10px; }



input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #8fc4cc !important;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
	color: #8fc4cc !important;  
}
 
input::-moz-placeholder,
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #8fc4cc !important;  
}
 
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
	color: #8fc4cc !important;  
}

.tm-contact-right {	padding-left: 15px; }
.tm-copyright-p { margin-bottom: 0; }

#box{
	background-color: lightblue;
	margin-left: 10px;
	margin-top: 30px;
	width: 80%;
	padding: 20px;
	border-radius: 25px;
}

@media (min-width: 992px) {
	.tm-main-nav {
		display: flex;
		justify-content: center;
	}

	.tm-left-column {
		position: fixed;
		height: 100%;
	}

	.container {
		width: 100%;
	}

	.tm-left-column {
		width: 20%;
	}

	.tm-right-column {
		float: right;
		width: 80%;
	}

	.tm-nav-item {
		cursor: pointer;
		font-size: 1.5rem;
		list-style: none;
		padding: 18px 30px;
		transition: all 0.3s ease;
	}

	.tm-site-name {
		font-size: 3.3rem;
		margin-top: 30px;
	}

	.tm-logo-div {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	.tm-section {
		margin-bottom: 100px;
	}
}
